<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <!-- Allow prerelease packages like MonoGame 3.8.5-preview.3 to be resolved -->
  <config>
    <add key="globalPackagesFolder" value=".nuget/packages" />
  </config>
</configuration>
